.stress {
  display: grid;
  place-items: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

.stressLabel {
  font-family: sans-serif;
  font-size: 37px;
  display: flex;
  align-items: center;
  margin-top: 0;
}

.stressLabel2 {
  font-size: 24px;
  font-family: sans-serif;
  margin-top: -10px;
  margin-bottom: -40px;
  margin-left: -70px;
}

.userInput {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: -90px;
}

.userInputText {
  width: 355px;
  height: 72px;
  left: 20px;
  background: #e7e4e4;
  border: none;
  border-radius: 25px;
  font-size: 30px;
  font-style: bold;
  padding-left: 20px;
  margin-top: 20px;
}

.userInputText:hover {
  background-color: rgb(72, 72, 218);
  color: white;
}

.stress img {
  margin-top: 75px;
}

.profileButton {
  position: relative;
  width: 366px;
  height: 67px;
  background: rgb(91, 91, 207);
  border-radius: 20px;
  border: 0px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: -50px;
}

.imageStyle {
  width: 140.94px;
  height: 100.57px;
  left: 123.33px;
  top: 141px;
  margin-bottom: 55px;
}

.relax {
  width: 356px;
  height: 77px;
  left: 47px;
  top: 442px;
  margin-bottom: -30px;
}
